@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap");

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}

/* variables */
:root {
  /* dark */
  --color-green-dark: #4d96a9;
  --color-pink-dark: #855fb1;
  --color-black-dark: #28283d;
  --color-grey-dark: #87879d;

  /* light */
  --color-green-light: #8fe3f9;
  --color-pink-light: #d9b8ff;
  --color-white-light: #fafafa;
  --color-paragraph-light: #87879d;
}

/* reset */
h1,
h2,
h3,
body,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* basic style */
body {
  box-sizing: border-box;
  background-color: var(--color-white-light);
}
h1,
h2 {
  color: var(--color-black-dark);
  font-weight: 900;
}
h1 {
  font-size: 4rem;
  line-height: 4.4rem;
}
h2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}
h3 {
  text-transform: uppercase;
  color: var(--color-green-dark);
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  line-height: 2.6rem;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-paragraph-light);
  line-height: 2.6rem;
}
.btn {
  padding: 1.6rem 4rem;
  font-size: 1.6rem;
  border-radius: 3rem;
  color: white;
  font-weight: 900;
}

/* mobile style */
.header-logo {
  text-align: center;
  margin-top: 4.8rem;
  margin-bottom: 5.4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header-image-left header-image-right"
    "header-text header-text";
  overflow: hidden;
}

.hero-left {
  grid-area: header-image-left;
}

.hero-right {
  grid-area: header-image-right;
}

.header-intro-text {
  grid-area: header-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2.4rem;
}

.header-intro-text h1 {
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
}

.header-introduction img {
  width: 100%;
}

.header-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-download-green {
  background-color: var(--color-green-dark);
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}

.btn-download-green span {
  color: var(--color-green-light);
}

.btn-download-green:hover{
  background-color: #71C0D4;
}

.btn-download-green:hover span {
  color: #8FE3F9;
  transform: scale(1.05);
}

.btn-what {
  background-color: var(--color-pink-dark);
  padding: 1.6rem 3rem;
}

.btn-what:hover, .btn-download-pink:hover {
  background-color: #B18BDD;
  transform: scale(1.05);
}

.btn-download-pink:hover span {
  color: #D9B8FF;
}

.transition {
  margin-top: 6.4rem;
  margin-bottom: 3.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transition-line {
  width: 0.1rem;
  background-color: rgb(135, 135, 157, 0.25);
  height: 8.4rem;
}

.transition-text {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid rgb(135, 135, 157, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition-text span {
  color: #87879d;
  font-size: 1.6rem;
  font-weight: 900;
}

.gallery-section {
  padding: 2.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.6rem;
}

.gallery-section img {
  width: 100%;
  border-radius: 0.8rem;
}

.meet-function {
  margin: 5.6rem 2.4rem 0 2.4rem;
  text-align: center;
}

.meet-function h2 {
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.transition-02 {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  top: 2.5rem;
}

.transition-text-02 {
  background-color: white;
}

.footer-details {
  min-height: 42.8rem;
  background: linear-gradient(rgb(77, 150, 169, 0.9), rgb(77, 150, 169, 0.9)),
    url("./assets/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 9.2rem 2.4rem 7.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-details h2,
.footer-details p {
  color: var(--color-white-light);
}

.footer-details p {
  font-size: 1.8rem;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.btn-download-pink {
  background-color: var(--color-pink-dark);
}

.btn-download-pink span {
  color: var(--color-pink-light);
}

@media only screen and (min-width: 48em) {
  h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
  h2 {
    font-size: 4rem;
    line-height: 4.4rem;
  }
  .header-btn-container {
    flex-direction: row;
    align-items: center;
    margin-top: 3.2rem;
  }
  .btn-download-green {
    margin: 0;
    margin-right: 1.6rem;
  }
  .gallery-section {
    padding: 2.4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
  }
  .footer-details {
    background: linear-gradient(rgb(77, 150, 169, 0.9), rgb(77, 150, 169, 0.9)),
    url("./assets/tablet/image-footer.jpg");
    background-size: cover;
    background-position: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
  h1 {
    font-size: 6.4rem;
    line-height:  6.4rem;
  } 
  .grid-container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "header-image-left header-text header-image-right";
    overflow: hidden; 
    align-items: center;
    justify-items: center;
  }
  .gallery-section {
    padding: 0 16.5rem; 
    margin-bottom: 8rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 2.5rem;
  }
  .header-intro-text {
    max-width: 54rem;
  }
  .meet-function {
    margin: 0 auto;
    max-width: 54rem;
  }

  .footer-details {
    min-height: 15rem;
    flex-direction: row;
    justify-content: space-around;
    text-align: start;
    background: linear-gradient(rgb(77, 150, 169, 0.9), rgb(77, 150, 169, 0.9)),
    url("./assets/desktop/image-footer.jpg");
    background-size: cover;
    background-position: center;
  }

  .footer-details p {
    max-width: 35rem;
  }
}